* {
  margin: 0px;
  padding: 0px;
  position: relative;
  font-family: 'Verdana', 'Geneva', 'sans-serif'
  
}

body{
  background-color:  #181818;
}


.cover {
  min-width: 1000px;
  transform: translate(0.5%,0%);
}

.content1 {
  transform: translate(20%,50%);
}

.headline, .subheadline{
  margin: 10px 0px;
  margin-left: 30px;
}

.headline{
  color: #C1AB42;
}

.subheadline{
  font-size: 20px;
  color: #c8c8c8;
}

p.project-intro1,  p.project-intro2 , .author{
  margin-left: 30px;
  width: 700px;
  color: #696773;
  font-size: 14px;

}

.author{
  margin-top: 20px;
  margin-bottom: 20px;
}

.duration{
  width: 100%
  height:150px;  
}

.content2 {
  transform: translate(20%,10%);
}

.duration-plot{
  min-width: 1000px;
  transform: translate(3%,0%);
}

.graphic-title{
  width: 250px;
  color: #C1AB42;
  padding-bottom: 5px;
  margin: 5px 0px;
}

.durationplot-intro{
  margin-bottom: 20px;
  font-size: 14px;
  color: #c8c8c8;
  width: 700px;
}

.duration-label {
  fill: #696773;
  font-size: 13px;
}


.duration-text{
  margin: 30px 0px;
  font-size: 14px;
}


.subtitle{
  font-size: 20px;
  color: #C1AB42;
  width: 200px;
  padding-top: 10px;
}

.timeplot-intro{
  font-size: 14px;
  color: #c8c8c8;
  width: 700px;
}

.subtitle, .durationplot-intro, .timeplot-intro{
  margin: 10px 0px;
  margin-left: 35px;
  min-width: 600px;
}

/*Timeplot*/

.timeplot{
  min-width: 1000px;
  margin: auto;
  transform: translate(1.5%,0%);
}

.exo-time{
  display: inline-block;
  transform: translate(30%,0%);
}

.exo-time-each{
  transform: translate(0%,30%);
   text-align: center;
   opacity: 0.35;
}

.exo-year{
  color: #696773;
  font-size: 11px;
}

.timeline{
  height: 200px;
  width: 50%;
  transform: translate(0%,30%);
}

.timeline-each{
  stroke-width: 6px;
  stroke: #009FB7;
  opacity: 0.7;
}

#timeline-title{
  border-bottom: #696773 1px solid;
}

.re-line{
  stroke: #696773;
  stroke-width: 1px;
  opacity: 0.8;
}

#re-exoneration{
  stroke-width: 1.5px;
  stroke: #009FB7;
}

.notes, .age-notes{
  font-size: 13px;
  fill: #C8C8C8;
}

#note-exoneration, #age-note-exoneration{
  fill: #009FB7;
}

.axis path{
  stroke: #696773;
  opacity: 0.5;
}

.tick line{
  stroke-width: 0px;
}

.tick text{
  fill: #696773;
}

.info {
  margin-left: 30px;
  transform: translate(0%,10%);
  width: 30%;
}

.name {
  color: #C1AB42;
}

.tag{
  font-size: 14px;
  color: #696773;
}

.des{
  width: 65%;
  min-width: 200px;
  word-wrap: break-word;
  font-size: 14px;
  color: #C8C8C8;
}

.navigation {
  width: 50%;
  margin: auto;
  color: #c8c8c8;
}

.arrow{
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #c8c8c8;
}

.arrow:hover {
  cursor: pointer;
}

.nav1{
  transform: translate(10%,1800%);
}

.nav2{
  transform: translate(10%,500%);
}


