* {
  margin: 0px;
  padding: 0px;
  position: relative;
  font-family: 'Verdana', 'Geneva', 'sans-serif'
  
}

body{
  background-color:  #181818;
/*  background-color: gray;*/
}


/*.subtitle{
  color: #EFF1F3;
  margin-left: 15px; 
}*/
/*
.who{
  min-height: 600px;
}

.canvas{
  margin: 0px;
  padding: 0px;
}

.subtitle-wrap{*/
/*  margin-left: 10px;*/
/*  margin-top: 10px;
  color: white;
  float: left;
}

.exoneree{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #272727;
  display: inline-block;
  text-align: center;
}*/

.cover{
  height: 300px;
}

.headline, .subheadline{
  margin: 10px 0px;
  margin-left: 30px;
}

.headline{
  margin-top:50px;
  color: #C1AB42;
}

.subheadline{
  font-size: 20px;
  color: #c8c8c8;
}

.project-intro{
  margin-left: 30px;
  width: 700px;
  color: #696773;
  font-size: 14px;
}

.subtitle{
  font-size: 20px;
  color: #C1AB42;
  width: 200px;
}

.timeplot-intro{
  font-size: 14px;
  color: #c8c8c8;
  width: 700px;
}

.subtitle, .timeplot-intro{
  margin: 10px 0px;
  margin-left: 30px;
  min-width: 600px;
}

/*Timeplot*/

.time {
  min-height: 600px;
}

.timeplot{
  min-width: 1000px;
  margin: auto;
  transform: translate(1.5%,0%);
}

.exo-time{
  display: inline-block;
  transform: translate(30%,0%);
}

.exo-time-each{
  transform: translate(0%,30%);
   text-align: center;
   opacity: 0.35;
}

.exo-year{
  color: #696773;
  font-size: 11px;
}

.timeline{
  height: 200px;
  width: 50%;
  transform: translate(0%,50%);
}

.timeline-each{
  stroke-width: 6px;
  stroke: #009FB7;
}

.re-line{
  stroke: #696773;
  stroke-width: 1px;
  opacity: 0.8;
}

.notes, .age-notes{
  font-size: 13px;
  fill: #C8C8C8;
}

.axis-x path{
  stroke: #696773;
  opacity: 0.5;
}

.tick line{
  stroke-width: 0px;
}

.tick text{
  fill: #696773;
}

.info {
  margin-left: 30px;
  transform: translate(0%,50%);
  width: 30%;
}

.name {
  color: #C1AB42;
}

.tag{
  font-size: 14px;
  color: #696773;
}

.des{
  width: 65%;
  min-width: 200px;
  word-wrap: break-word;
  font-size: 14px;
  color: #C8C8C8;
}
